@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Source+Sans+Pro:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro';
    background: #fafafa;
}

header {
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.nav-box {
    display: flex;
    align-items: center;
    list-style-type: none;
    
}