@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro';
    background: #fafafa;
}

header {
    background: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.name {
    padding-left: 20px;
}

.nav-box {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 20px;
    font-weight: 400;
}

li {
    margin-left: 2em;
}

a {
    text-decoration: none;
    color: black;
}

div {
    display: block;
}

section {
    display: block;
}

.first-section {
    position: relative;
    background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8))
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative;
}

.first-section-content {
    text-align: center;
    padding: 40px;
}

.primary-heading {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
}

.primary-info {
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about-button {
    margin-top: 5rem;
    text-align: center;
}

.about-button-interior {
    padding: 0.8rem 4rem;
    font-size: 2rem;
    background: #2DC526;
    color: #C3ECB9;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s;
}